body {
  background-color: #121212;
  /* display: grid; */
  place-content: center;
  /* height: 100vh; */
  margin: 0;
  font-family: sans-serif;
}

nav {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 0px;
  box-shadow: 0 5px 30px 0 /*rgba(22, 32, 220, 0.37)*/;
  padding-right: 35px;
  border: 1px solid /*rgba(255, 255, 255, 0.18)*/;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
ul li {
  color: #fff;
  display: grid;
  place-content: center;
  margin: 0;
}

.logo {
  /* color: #0f1cdd; */
  color: #fff;
  cursor: pointer;
}

.menu {
  color: #fff;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
}

.menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.5s ease;
  bottom: 0;
  left: 0;
}

.menu:hover::before {
  transform: scaleX(1);
}

/* -- External Social Link CSS Styles -- */

#source-link {
  top: 120px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 65px;
}

#yt-link > i {
  color: rgb(219, 31, 106);
}

#Fund-link {
  top: 10px;
}

#Fund-link > i {
  color: rgb(255, 251, 0);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}

.popup {
  color: white;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}
