.player {
  margin-top: 10px;
  display: flex; /* Sử dụng Flexbox */
  align-items: center;
}
.music {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 0;
}
audio {
  /* background-color: #333; */
  border-radius: 30px;
  margin-right: 10px;
}
select {
  appearance: none; /* Loại bỏ giao diện mặc định của trình duyệt */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background-color: #333; */
  border-radius: 30px;
  /* width: 260px; */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: 24px; */
}
select:hover {
  background-color: #bbbbbb;
}

#playlist {
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 0px 30px 30px 0px;
}
#list {
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 30px 0px 0px 30px;
}
.popup {
  color: white;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #fff;
}

#eventContent {
  white-space: pre-line;
}
a {
  color: inherit;
  background-color: inherit;
}

/* Responsive */
@media screen and (max-width: 935px) {
  .player {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  #playlist {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 30px;
  }
  #list {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 30px;
  }
}

/* Button */
button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffffff;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-left: 10px;
  @media screen and (max-width: 935px) {
    margin-top: 10px;
    margin-left: 0;
  }
  /* min-height: 3.75em; */
  min-width: 0;
  outline: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #555;
  box-shadow: #5f5f5f 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
