.player {
  margin-top: 10px;
}
.music {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
select {
  appearance: none; /* Loại bỏ giao diện mặc định của trình duyệt */
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 30px;
  width: 260px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px;
}
#playlist {
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
  margin-right: 20px;
}
